#wrapper .sub_editor{width:100%;background-color: #f0f3f5;}
.weixin_slidebar{/*width:384px;float: left;*//*margin-left:15px;margin-top:48px;*/margin-bottom: 59px;}
.weixin_slidebar .nav-tabs-custom{padding:0;margin-top:0;border:0;}
.weixin_slidebar .nav-tabs-custom .nav-tabs{border-top:0;}
.weixin-main-content{/*margin-left:414px;*/padding: 8px 10px;}
.weixin-main-content .panel{background-color: transparent;}
.weixin_slidebar .nav-tabs{background-color: transparent;border-right: none;}
.weixin_slidebar .nav-tabs >li{width: 50%;border-top:2px solid #4698ed;margin-bottom:-2px;}
.weixin_slidebar .nav-tabs >li.tab_template_list{border-top:2px solid #ee3a5c;}
.weixin_slidebar .nav-tabs>li.active{border-top:none;}
.box-weixin{/*border-top:2px solid  #007fcc;background-color: #fff;padding:20px 20px 15px 20px;margin:0px 0 ;*/margin-top: 20px;}
.box-weixin .box-title{font-size: 18px;color:#007fcc;}
.weixin_slidebar .tab-pane{padding:0;}

.box-weixin .panel-title .basicInfo{display: block;padding:12px 10px;}
.box-weixin .panel-title .basicInfo i{float:right;}
.box-weixin .weixinInfo{border:1px solid #ddd;}
.box-weixin .weixinInfo01{border:1px solid #ddd;margin-bottom: 59px;background: #F5F5F5;}
.box-weixin .weixinInfo .panel{border-radius: 0;}
.box-weixin .weixinInfo .panel .panel-heading{border-radius: 0;}
.box-weixin .weixinInfo .panel .panel-heading .panel-title{font-size: 16px; margin-bottom:0;background-color: #e5e5e5;}
.box-weixin .weixinInfo .panel .panel-collapse{background-color: #f5f5f5;}
.editor-box{margin-top:20px;}
.box-weixin .box-thumbnail{margin-bottom: 59px;}
.box-weixin .box-thumbnail .thumbnailList{position: relative; padding:10px;background-color: #f7f7f7; border:1px solid #ddd;margin-bottom: 2px;}
.box-weixin .box-thumbnail .thumbnail{margin-bottom: 0;position: relative;}
.box-weixin .box-thumbnail .thumbnail img{width: 100%;}
.box-weixin .box-thumbnail  .thumbnail .thumbnail-title{position: absolute;bottom:0;left:0;display: block;background-color: rgba(0,0,0,0.7);width:100%;padding:6px 5px;color:#fff;font-size: 12px;}
.box-weixin .box-thumbnail .thumbnailList:hover{border:2px solid #4698ed;}
.box-weixin .box-thumbnail .thumbnail-more{text-align: center;}
.box-weixin .box-thumbnail .thumbnail-more i img{width: auto;padding:20px 0;}
.thumbnailBtn{position: absolute;top: 10px;right: 7px;display: none;}
.thumbnailBtn a{color:#fff;display: inline-block;background: #4698ed;padding:3px 5px;margin-right: 3px;}
.thumbnailBtn a:hover{color:#054D6A;}
.thumbnailList:hover .thumbnailBtn{display: block;}
.weixin_footer{margin:0px 0 0px 0;border-top:1px solid #ddd;background-color: #fff;padding:20px 0;width: 100%;position: fixed;left:0;right:0;bottom:0;z-index:999999999;}
.weixin_footer .row{margin:0;}
.weixin_footer .row .footer-btn input{margin:0 8px;}
@media screen and (max-width: 1280px){
	.box-weixin .col-md-9{width: 100%;}
	.box-weixin .col-md-3{display: none;}
}
.editor-main-content{margin-left:0;background-color: none;}
.editor-main-content .panel{background-color: transparent;}
.editor-main-content .panel .panelTitle h3{font-size: 18px;}
.box-article{/*border-top:2px solid  #007fcc;background-color: #fff;padding:20px 20px 15px 20px;margin:0px 0 ;*/margin-top: 20px;}
.box-article .row{margin:5px 0;}
.box-article .article-md-2{padding-right:0;width: 12%;}
.box-article .article-md-7{padding-left:0;}
.box-article .form-group{margin-bottom:0;}
.box-article .form-group label{margin-top:7px;}
.article-accordion .panel-title a:before, .article-accordion .panel-title a.collapsed:before {
    content: "\f107 ";
    font-family: FontAwesome;
    font-size: 20px;
    line-height: 24px;
    color: #333;
    margin-right:10px;
    font-weight: normal;
    color:#9a9a9a;
}
.article-accordion {/*border: 1px solid #ddd;*/border-bottom: 0;border-top: 4px solid #00a65a;}
.article-accordion .panel-title a.collapsed:before {    content: "\f105";}
.article-accordion .panel-title{background-color: #f7f7f7;border-bottom:2px solid #00a65a;}
.article-accordion .panel-title a{display: block;padding:12px 10px;font-size: 16px;color:#666;}
.article-accordion .panel-body{background-color: #fff;}
.article-accordion .panel.panel-default{margin-top:0;}
#accordion  .panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body{border-top:0;}
.over-padding{margin-top:20px;}

/*sidebar search*/
 .channelConfig .input-color-box{width: 80%;}
 .channelConfig .input-color{width: 118px;padding:0;}
 .channelConfig .input-color select{width: 100%;height: 100%;padding: 5px 12px;border:1px solid #ddd;margin-left: 10px;}


/*modal*/
/* .modal{background-color: rgba(0,0,0,0.7);} */
.modal-dialog{width: 316px;}
.preview-360 #preview-phone {    width: 316px;    height: 655px;}
.preview-360 #preview-body {    margin-top: 73px;    height: 511px;overflow: hidden;}
.preview-360 .nav-tabs{position:absolute;left:100%;top:80px;width: 80px;color:#FFF;opacity:1;background-color: transparent;border:0;margin-left:3px;}
.preview-360 .nav-tabs li{border-right: 0;}

.modal .thumbnailList{padding:10px; margin:0 10px; background-color: #f7f7f7; border:1px solid #ddd;}
.modal .thumbnail{margin-bottom: 5px;position: relative;}
.modal .thumbnail img{width: 100%;}
.modal  .thumbnail .thumbnail-title{position: absolute;bottom:0;left:0;display: block;background-color: rgba(0,0,0,0.7);width:100%;padding:6px 5px;color:#fff;font-size: 12px;}
.modal .thumbnailList:hover{border:2px solid #4698ed;}
.modal .thumbnail-more{text-align: center;}
.modal .thumbnail-more i img{width: auto;padding:10px 0;}
.modal .box-thumbnail{position: relative;}
.modal .tab-pane .thumbnailList:hover{border:1px solid #ddd;}
.display{display:none;}

.editor-main-content .channelConfig .form-control{width: 90%;}
.weixin-main-content .channelConfig .form-control{width: 90%;}



/*personal-page*/
.personal-page{margin:20px 0 25px 0; width: 100%;min-height:542px; background: url(../img/personal_bg.png) no-repeat center top;overflow: hidden;background-size: 100% 100%;}
.personal-page-box{padding:30px 0 50px 0;}
.personal-page-con{width: 38%;margin:0 auto;border-radius: 2px;box-shadow: 0 5px 5px rgba(0,0,0,0.3);}
.personalTitle{text-align: center;}
.personalTitle h2{font-size: 18px;color:#fff;font-weight: bold;background: #00AAFF;border-top-left-radius: 2px;border-top-right-radius: 2px;padding:20px 0;margin-bottom: 0;}
.personalInfo{padding:30px 50px;border-bottom-left-radius: 2px;border-bottom-right-radius: 2px;overflow: hidden;background: #fff;}
.personalInfo .form-group{overflow: hidden;}
.personalInfo .form-group .control-label{margin-bottom: 0;margin-top:10px;font-weight: normal;}
.personal-page .activated-01{margin-top:10px;margin-right: 10px;}
.personal-page .activated-01>div{margin-right: 5px;}
.activated-01{margin-top:10px;margin-right: 10px;}

.editor-main-content .channelConfig .input-group-color{display: inline-block;padding:0;}
.editor-main-content .channelConfig .input-group-color select{height: 34px;margin-left:10px; width: 100px;border:1px solid #ddd;border-radius: 2px;}
.editor-main-content .channelConfig.channelConfig-01 input{width:74%; }









