<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="page-header-inner">
    <!-- BEGIN LOGO -->
    <div class="page-logo">
        <a ui-sref="dashboard">
            <img src="assets/layouts/layout/img/logo.png" alt="logo" class="logo-default"/> </a>
        <div class="menu-toggler sidebar-toggler">
            <span></span>
        </div>
    </div>
    <form class="search-form hide" action="#" method="GET">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search..." name="query">
            <span class="input-group-btn">
                <a href="javascript:;" class="btn submit">
                    <i class="icon-magnifier"></i>
                </a>
            </span>
        </div>
    </form>
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse"
       data-target=".navbar-collapse">
        <span></span>
    </a>
    <div class="top-menu">
        <ul class="nav navbar-nav pull-right">
            <li class="dropdown dropdown-user">
                <a href="#" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                    <i class="icon-user"></i>
                    <span class="username username-hide-on-mobile">{{loginUser.name}}</span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-default">
                    <li>
                        <a ui-sref="personalCenterSetting">
                            <i class="icon-user"></i>个人信息 </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="logout">
                            <i class="icon-key"></i>退出登录</a>
                    </li>
                </ul>
            </li>
        </ul>
      <!--  <ul class="nav navbar-nav pull-right">
            <li class="dropdown dropdown-user">
                <a href="#" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                    &lt;!&ndash;<i class="icon-user"></i>&ndash;&gt;
                    <span class="username username-hide-on-mobile" th:text="#{app.language}"></span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-default">
                    <li>
                        <a href="" ng-click="setLanguges('zh-CN')" th:text="#{app.language.chinese}">中文 </a>
                    </li>
                    <li>
                        <a href="" ng-click="setLanguges('en-US')" th:text="#{app.language.english}">English</a>
                    </li>
                </ul>
            </li>
        </ul>-->
    </div>
</div>
</html>